@import '../../styles/constants';

@keyframes formationFloating {
    from {
       left: -$aquariumWidth / 2;
    }
    to {
        left: $aquariumWidth;
    }
}

.row {
}

.formation {
    display: flex;
    align-items: center;

    position: absolute;

    top: $aquariumHeight / 4;

    animation: formationFloating;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
