@import '../../styles/constants';

@keyframes formationFloating {
    from {
       left: -$aquariumWidth / 3;
    }
    1% {
        left: $aquariumWidth / 4;
    }
    to {
        left: $aquariumWidth;
    }
}

.formation {
    display: flex;
    align-items: center;

    position: absolute;

    top: $aquariumHeight / 4;
}

.animated {
    animation: formationFloating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
