@import '../../styles/constants';

.aquarium {
  width: $aquariumWidth;
  height: $aquariumHeight;
  background-image: linear-gradient($lightBlue, $deepBlue);
  position: relative;
  overflow: hidden;
}
