@import '../../styles/constants.scss';

.ground {
  position: absolute;
  height: $groundHeight;
  width: $aquariumWidth;
  top: $aquariumHeight - $groundHeight;
  background-image: url('ground.svg');
}
