@import '../../styles/constants';

@keyframes fishFloating {
    from {
        transform: rotate(-5deg);
        top: -10px;
    }
    to {
        transform: rotate(5deg);
        top: 10px
    }
}

@mixin floating($ownDeg, $direction) {
    @keyframes fishFloating-#{$direction} {
        from {
            transform: rotate($ownDeg - 5deg);
            top: -10px;
        }
        to {
            transform: rotate($ownDeg + 5deg);
            top: 10px
        }
    }

    animation: fishFloating-#{$direction};
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.fish {
    background-image: url('fish.svg');
    background-repeat:no-repeat;
    background-size:contain;
    height: $fishSize;
    width: $fishSize;

    position: relative;
    @include floating(0deg, 'right');
}

.DOWN {
    transform: rotate(90deg);
    @include floating(90deg, 'down');
}

.LEFT {
    transform: rotate(180deg);
    @include floating(180deg, 'left');
}

.UP {
    transform: rotate(-90deg);
    @include floating(-90deg, 'up');
}
